@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>@ViewBag.companyName</h1>
    <p>Learn about <a href="http://eastaria.com/">@ViewBag.companyName</a>.</p>
</div>
